@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
:root {
    --skyblue: #01ACFD;
}
main {
  margin: 0vw clamp(1.6em, 9vw, 140px);
}
/*---- nav bar style-----*/
.hamburger {
  display: none;
}

nav {
  margin: 1.2em clamp(1.6em, 9vw, 140px);
  display: flex;
  justify-content: space-between;
}
.branding {
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.branding img {
  width: 3.8em;
  height: 3.8em;
}
.branding span {
  font-size: 2em;
  font-weight: bold;
  color: #000000;
}
.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2em;
  font-size: 1.2em;
  font-weight: bold;
}
.nav-links a {
  text-decoration: none;
}
#nav-link-1 {
  color: orange;
}
#nav-link-2 {
  color: var(--skyblue);
}
#nav-link-3 {
  color: rgba(5, 212, 223);
}
#nav-link-4 {
  color: rgba(93, 88, 239, 1);
}
button {
  background-color: orange;
  padding: 0.625em 3em;
  border-radius: 0.78em;
  border: none;
  color: white;
  font-size: 1.25em;
  font-weight: 500;
}
#btn-1 {
  display: flex;
  align-items: center;
}
/* ------- banner part ------ */
#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125em;
  /* flex:1; */
}
#banner-left-part {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
#banner-header p {
  font-size: 3.5em;
  font-weight: bold;
  color: #000000;
}
#banner-header span {
  font-size: 3.5em;
  font-weight: bold;
  color: #000000;
}
#banner-pera {
  font-size: 1.25em;
}
#btn-2 {
  background-color: black;
}
#banner-right-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-right-part img {
    max-width: 28vw;
    height: auto;
}


/* ---responsive part---- */

@media screen and (max-width: 576px) {
  * {
    font-size: 10px;
  }
  main {
    margin: 0em 1.6em;
  }
  nav {
    margin: 0em;
    padding: 1em 1.6em;
    border: 1px solid orange;
  }
  .hamburger {
    display: flex;
  }
  .hamburger i {
    display: flex;
    align-items: center;
    color: black;
  }
  .branding-name,
  .nav-links,
  #btn-1 {
    display: none;
  }

  /* banner */
  #banner {
    flex-direction: column-reverse;
    text-align: center;
    margin : 2.2em 1em;
}
  #banner img {
    max-width: 100%;
    height: auto;
  }
}
