@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
:root {
  --skyblue: #01acfd;
  --myblue: rgba(93, 88, 239, 1);
}
main {
  padding: 0vw clamp(1em, 9vw, 140px);
  background: linear-gradient(
    to top,
    rgba(255, 166, 0, 0.3),
    #ffffff00,
    #ffffff00
  );
}
/*---- nav bar style-----*/
.hamburger {
  display: none;
}

nav {
  margin: 1.2em clamp(1.6em, 9vw, 140px);
  display: flex;
  justify-content: space-between;
}
.branding {
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.branding img {
  width: 3.8em;
  height: 3.8em;
}
.branding span {
  font-size: 2em;
  font-weight: bold;
  color: #000000;
}
.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2em;
  font-size: 1.5em;
  font-weight: bold;
}
.nav-links a {
  text-decoration: none;
}
#nav-link-1 {
  color: orange;
}
#nav-link-2 {
  color: var(--skyblue);
}
#nav-link-3 {
  color: rgba(5, 212, 223);
}
#nav-link-4 {
  color: var(--myblue);
}
button {
  background-color: orange;
  padding: 0.625em 3em;
  border-radius: 0.78em;
  border: none;
  color: white;
  font-size: 1.25em;
  font-weight: 500;
}
#btn-1 {
  display: flex;
  align-items: center;
}
/* ------- banner part ------ */
#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125em;
  /* flex: 1 1 0%; */
  /* flex:1; */
}
#banner-left-part {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
#banner-header p {
  font-size: 3.5em;
  font-weight: bold;
  color: #000000;
}
#banner-header span {
  font-size: 3.5em;
  font-weight: bold;
  color: #000000;
}
#banner-pera {
  font-size: 1.25em;
}
#btn-2 {
  background-color: black;
}
#banner-right-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-right-part img {
  max-width: 28vw;
  height: auto;
}

/* ------main section------ */
#sec1 {
  background-image: url(assets/bg.png);
  background-size: 80%;
  background-repeat: repeat;
  padding: 1.5em 0em ;
}
#sec-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.75em;
  margin: 3.75em 0em;
}
#sec-1 h3 {
  font-weight: bold;
  color: #000000;
  font-size: 2.875em;
}
#sec-1 h4 {
  font-weight: bold;
  color: #000000;
  font-size: 1.5em;
}
#sec-1-card {
  display: flex;
  justify-content: space-between;
  gap: 1.77em;
  margin: 1.25em 0px;
}
#sec-1-card a {
  text-decoration: none;
}
#card-1,
#card-2,
#card-3 {
  display: flex;
  flex-direction: column;
  gap: 2.125em;
  padding: 3.25em 2.5em;
  background-color: white;
  border-radius: 1.2em;
  flex: 0 1 30em;
}
#card-1 {
  border: 1px solid rgba(222, 245, 255, 1);
  box-shadow: inset 0 0em 1.2em 0.01px rgba(0, 0, 0, 0.03),
    inset 0 8em 5em -5em rgba(222, 245, 255, 1),
    10px 5px 20px -10px rgba(0, 0, 0, 0.05);
}
#card-2 {
  border: 1px solid rgba(255, 244, 220, 1);
  box-shadow: inset 0 0em 1.2em 0.01px rgba(0, 0, 0, 0.03),
    inset 0 8em 5em -5em rgba(255, 244, 220, 1),
    10px 5px 20px -10px rgba(0, 0, 0, 0.05);
}
#card-3 {
  border: 1px solid rgba(242, 232, 255, 1);
  box-shadow: inset 0 0em 1.2em 0.01px rgba(0, 0, 0, 0.03),
    inset 0 8em 5em -5em rgba(242, 232, 255, 1),
    10px 5px 20px -10px rgba(0, 0, 0, 0.05);
}
#card-1 a {
  color: var(--skyblue);
}
#card-2 a {
  color: orange;
}
#card-3 a {
  color: var(--myblue);
}
#sec-1-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
#sec-1-arrow i {
  color: #ffffff;
  background-color: orange;
  border-radius: 100%;
  padding: 1.1em 0.8em;
  /* font-weight: bolder; */
}

/* ------our story part------- */
#sec-2 {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 3.75em;
  margin: 3.75em 0em;
}
/* #sec-2 {display: none;} */
#sec-2 > h3 {
  text-align: center;
  font-size: 2.875em;
  font-weight: bold;
  color: #000000;
}

#sec-2-story {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 1.17em;
  justify-content: center;
  padding: 1.25em 0em;
}
#story-1 {
  grid-row: span 2;
  grid-column: span 2;
}

#story-1,
#story-2,
#story-3,
#story-4,
#story-5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-items: center;
  /* align-self: center; */
  border-radius: 1em;
}
.story-img {
  display: block;
  display: flex;
  flex-direction: column;
  position: relative;
}
.story-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.story-img button {
  position: absolute;
  bottom: 0;
  bottom: 0;
  translate: 2.2em 50%;
  z-index: 100;
}
.story-text {
  color: #000000;
  padding: 3.625em 2.2em 1.8em 2.2em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
}
#story-1 h5 {
  font-size: 1.5em;
}
.story-text p {
  margin-top: 3em;
  padding: 0 0 3em 0;
}
.story-img button {
  font-size: 0.9em;
  padding: 1em;
  border-radius: 3em;
  /* max-width: 9em; */
}
#story-1 button {
  background-color: rgb(52, 182, 196);
}
#story-2 button {
  background-color: rgba(93, 88, 240, 1);
}
#story-3 button {
  background-color: rgba(149, 178, 38, 1);
}
#story-4 button {
  background-color: rgb(61, 177, 46);
}
#story-5 button {
  background-color: rgb(232, 60, 60);
}
#sec-2-btn {
  text-align: center;
}
#sec-2-btn button {
  background-color: #000000;
}

/* ---responsive part---- */

@media screen and (max-width: 576px) {
  * {
    font-size: 10px;
  }
  main {
    padding: 0em 1.6em;
    background: linear-gradient(
      to top,
      rgba(255, 166, 0, 0.3),
      #ffffff00,
      #ffffff00,
      #ffffff00,
      #ffffff00,
      #ffffff00
    );
  }
  nav {
    margin: 0em;
    padding: 1em 1.6em;
    border: 1px solid orange;
  }
  .hamburger {
    display: flex;
  }
  .hamburger i {
    display: flex;
    align-items: center;
    color: black;
  }
  .branding-name,
  .nav-links,
  #btn-1 {
    display: none;
  }

  /* banner */
  #banner {
    flex-direction: column-reverse;
    text-align: center;
    margin: 2.2em 1em;
  }
  #banner img {
    max-width: 100%;
    height: auto;
  }
  /* ----Standard Curriculum part----- */
  #sec-1-card {
    flex-direction: column;
  }
  #card-1,
  #card-2,
  #card-3 {
    padding: 3.25em 10em;
  }
  #sec-1-arrow {
    display: none;
  }
  #story-1 {
    display: none;
  }
  #sec-2-story {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

}
